
=pos ($position, $top: null, $right: null, $bottom: null, $left: null, $all: null)
    position: $position
    @if $top != null
        top: $top
    @if $right != null
        right: $right
    @if $bottom != null
        bottom: $bottom
    @if $left != null
        left: $left
    @if $all != null
        top    : $all
        left   : $all
        right  : $all
        bottom : $all

=fix ($top: null, $right: null, $bottom: null, $left: null, $all: null)
    +pos(fixed, $top, $right, $bottom, $left, $all)
=abs ($top: null, $right: null, $bottom: null, $left: null, $all: null)
    +pos(absolute, $top, $right, $bottom, $left, $all)
=rel ($top: null, $right: null, $bottom: null, $left: null, $all: null)
    +pos(relative, $top, $right, $bottom, $left, $all)
